<!DOCTYPE html>
<html lang="en-US">
<head>
<!-- Meta data goes here -->
<meta charset="UTF-8" />
<title>Html Tutorial</title>
<link href="/css/theme.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<h1>Bookmarks</h1>
	<ol>
		<li><a href="#basic">Basic tags</a>
			<ul>
				<li>Some</li>
				<li>Other</li>
				<li>Stuff</li>
			</ul></li>
		<li><a href="#links">Links</a></li>
		<li><a href="#formatting">Formatting</a></li>
		<li><a href="#tables">Tables</a></li>
		<li><a href="#iframes">iFrames</a></li>
	</ol>
	<hr />
	<div id="basic">
		<h1>Food</h1>
		<h6>Types of food</h6>
		<p class="paragraph">So much crap.</p>
		<p class="paragraph" title="summary text">Long paragraph. mouse
			over instead.</p>
		<p style="color: green">Inline styling</p>
	</div>
	<hr />
	<div id="links">
		<div>
			<a href="https://www.google.com">Google</a> <a
				href="https://www.google.com" target="_blank">New tab</a> <a
				href="https://www.google.com" target="_">Current</a>
		</div>
		<br /> <img src="fake_img.jpg" alt="Can't find image" />
	</div>
	<hr />
	<div id="formatting">
		<pre>
	This is pre-formatted text.
	
	Spaces
				and
								line breaks
					should be preserved.
	</pre>
		<hr />
		<b>bold</b> <strong>strong</strong>
		<mark>marked</mark>
		<del>deleted</del>
		<ins>inserted</ins>
		<sup>superscript</sup> <sub>subscript</sub> <em>emphasized</em>
		<p>
			Quote here: <q>My quote.</q>
		</p>
		<p>Quote from somewhere else:</p>
		<blockquote cite="https://en.wikipedia.org/wiki/Mammal">
			Mammals are any vertebrates within the class Mammalia (/məˈmeɪli.ə/
			from Latin mamma "breast"), a clade of endothermic amniotes
			distinguished from reptiles (including birds) by the possession of a
			neocortex (a region of the brain), hair, three middle ear bones, and
			mammary glands. Females of all mammal species nurse their young with
			milk, secreted from the mammary glands.</blockquote>
	</div>
	<hr />

	<div id="tables">
		<!-- Add id to customize -->
		<table id="someTable">
			<caption>Animals</caption>
			<thead>
				<tr>
					<th>Animal</th>
					<th>Habitat</th>
					<th>Legs</th>
					<th>Other</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dogs</td>
					<td>Urban</td>
					<td>4</td>
					<td>Also barks</td>
				</tr>
				<tr>
					<td>Cats</td>
					<td>Urban</td>
					<td>4</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="#iframes">
		<h1>inception</h1>
		<iframe src="/html/iframe"></iframe>
	</div>
	<div id="paths">
		<h1>Html File paths</h1>
		<pre>
	"<img src="picture.jpg">	picture.jpg is located in the same folder as the current page
<img src="images/picture.jpg">	picture.jpg is located in the images folder in the current folder
<img src="/images/picture.jpg">	picture.jpg is located in the images folder at the root of the current web
<img src="../picture.jpg">	picture.jpg is located in the folder one level up from the current folder"
	</pre>
	</div>

</body>
</html>





















